<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Подключаем Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
        .song-list {
            list-style: none;
            padding: 0;
        }
        .song-item {
            margin-bottom: 10px;
        }
        audio {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">User Profile</h1>
                <div class="mb-4">
                    <strong>Username:</strong> {{ user_name }}
                </div>
                <div class="mb-4">
                    <strong>Favorite Music Style:</strong> {{ user_music_style }}
                </div>

                <h2>Your Uploaded Songs:</h2>
                <ul class="song-list">
                    {% for song in user_songs %}
                        <li class="song-item">{{ song.name }} - {{ song.author }}
                            <audio controls>
                                <source src="{{ song.music_file.url }}" type="audio/mpeg">
                            </audio>
                        </li>
                    {% endfor %}
                </ul>

                <h2>Songs You've Liked:</h2>
                <ul class="song-list">
                    {% for music in request.user.likes.all %}
                        <li class="song-item">{{ music.name }} - {{ music.author }}
                            <audio controls>
                                <source src="{{ music.music_file.url }}" type="audio/mpeg">
                            </audio>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Подключаем скрипты Bootstrap для работы интерактивных элементов -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
